* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: #a58c00;
    width: 80%;
    margin: 0 auto;
    padding: 2em;
    border-radius: 40px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

button {
    padding: 0.8em 2em;
    border-radius: 12px;
    border: none;
}

input {
    border: none;
    padding: 0.4em 1em;
    border-radius: 8px;
    text-align: center;
}